.title {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

.container {
  padding: 20px;
  text-align: center;
}

.description {
  font-size: 1.2em;
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
